* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.ff-bt2 {
  font-family: "Baloo Tamma 2";
}

img {
  max-width: 100%;
  height: auto;
}

/* text setting */
.bg-beige {
  background-color: #e8e8db !important;
}

.fz-14 {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.text-justify {
  text-align: justify;
}

/* normal style */

.me-3 {
  margin-right: 1rem !important;
}
.btn {
  min-width: 96px;
}

.nav-link {
  font-size: 17px;
}

.rounded-pill {
  border-radius: 50rem !important;
}

/* main css start */

.btn-warning {
  background-color: #ffdf65 !important;
  border-color: #ffdf65 !important;
}

.border-warning {
  border-color: #ffdf65 !important;
}
.bg-warning {
  border-color: #ffdf65 !important;
}

.btn-warning:hover {
  background-color: #ff785e;
  color: #fff !important;
}

/* tab area  */

.nav .active {
  font-weight: 700;
  border-bottom: 3px solid #ffdf65;
}

.top-nav {
  top: 90px;
}

button > .submit:hover {
  background-color: #ff785e;
}

.track:hover {
  background-color: #ffdf65;
}

.btn-outline-warning:active {
  border-color: #ffdf65;
  color: #000;
}

.accordion-title {
  border-radius: 4px;
  padding: 5px;
  font-size: 0.875rem;
  font-weight: 700;
  margin-right: 1.125rem;
}

/* 改 scss?! */
.accordion-button:not(.collapsed) {
  color: #494846;
  background-color: white;
}

.reply {
  background-color: #f8f9fa;
}
